@charset "utf-8";
/* CSS Document */
body {
	background: url("../../s2u_firewall_image/radio-bg.jpg") repeat-x scroll left top white;
	font-family: Tahoma,Arial,sans-serif;
	outline: 0 none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a:link {color: #333;text-decoration: none;}
a:visited {color: #333;text-decoration: none;}
a:hover {color: #F90;text-decoration: none;}
a:active {color: #06F;text-decoration: none;}
input, select {width: 85%;}

.s2utop {
	background: url("../../s2u_firewall_image/vline.jpg") repeat-x scroll left top transparent;
    background-position: left -307px;
    margin-bottom: 5px;
	width: 100%;
	position: fixed;
    z-index: 12;
}
.headertop {
	margin: 0 auto;
	width: 980px;
}
.logo a {
    display: block;
    float: left;
    height: 34px;
	width: 980px;
    margin: 0 0 5px;
	text-shadow: 0 0 2px #666;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
}
.menus {
	clear: both;
    height: 32px;
    position: relative;
	background-position: left -5px;
}
.menu li {
    margin-top: 3px;
    padding: 0 15px;
	text-shadow: 0 0 2px #666;
	color: #666;
	float: left;
	line-height: 30px;
}
.option li {
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color:#3CF;
    color: #666666;
    float: right;
    line-height: 24px;
    margin-top: 3px;
    padding: 0 12px;
    text-shadow: 0 0 2px #CCCCCC;
    z-index: 100;
	cursor:pointer;
}
.lable {
	margin-left: 5px;
	width: 10%;
}
li {
    list-style: none outside none;
}
.active {
	font-weight: bold;
}
.s2umain {
	margin: 0 auto;
	width: 80%;
	background-color: transparent;
	padding-right: 15px;
}
#trangchu {
	text-shadow: 0 0 2px #666;
	font-size: 30px;
	font-weight: bold;
	color: #39F;
	align: center;
	text-align: center;
	padding-top: 100px;
	padding-bottom:: 100px;
}
#login {
	margin:40;
	width:40%;
	height:60;
	font-size:inherit;
	text-align: center;
	border:inset;
}
.main {
	padding-top: 7%;
}
.main ul {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #DFDFDF #DFDFDF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
	font-size: 16px;
}
.s2umain li, .s2umain .note, .s2umain .pop {
    border-bottom: 1px solid #DFDFDF;
    display: block;
    font-size: 14px;
	line-height: 28px;
    padding-left: 5px;
    text-decoration: none;
	background-color: #666666;
    color: white;
    text-shadow: 0 1px 1px #808080;
}
.s2umain .fix {
	position:fixed;
	margin-left:52%;
	margin-top: 0;
    top: 80px;
}
.wrap {
    clear: both;
    width: 100%;
}
#cauhinh  .contant,#tinhtrang  .contant,#kiemtra  .contant,#congcu  .contant {
	padding-right: 5px;
    float: left;
    position: relative;
    width: 40%;
}

#cauhinh .vl,#tinhtrang .vl,#kiemtra .vl,#congcu .vl {
	padding-right: 15px;
	float: left;
    position: relative;
    width: 23%;
}
.note, .pop {
	height:auto;
    width: 370px;
	margin-top: 5px;
}
.pop input {width: 45%;}
#backtop {
	background: url("../../s2u_firewall_image/back-to-top.png") no-repeat scroll 0 0 transparent;
    height: 540;
	width: 420px;
	margin: 0 auto;
}